<!doctype html>
<html>

<head>
  <title>Node Authentication</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body {
      padding-top: 80px;
    }
  </style>
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1><span class="fa fa-rocket"></span> Hoopit</h1>

      <p>Login or Register with:</p>

      <a href="/login" class="btn btn-light"><span class="fa fa-user"></span> Local Login</a>
      <a href="/signup" class="btn btn-primary"><span class="fa fa-user"></span> Local Signup</a>
      <a href="/auth/facebook" class="btn btn-dark disabled"><span class="fa fa-github"></span> Github</a>
    </div>

  </div>
</body>

</html>
